/* FIXME
 *
 * "row" selector is valid and supported in GTK>=3.20 (Fedora 24).
 * "GtkListBoxRow" selector is no longer supported but required
 * for GTK<3.20 (Fedora 23). It can be removed if we decide to stop
 * supporting older systems.
 */

GtkListBoxRow, row {
    padding: 12px;
    margin: 5px;
    border-radius: 12px;
}

.app-name-label {
    font-weight: bold;
}

.oops-reason {
    font-size: 190%;
    font-weight: bold;
}

.tbtn_multi_select-color {
    background-color: blue;
}

.crash-info-box {
    background-color: #ff9800;
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 16px;
  }

.application-crash {
    background-color: #ff9800; /* Orange */
}

.system-crash {
    background-color: #8e24aa; /* Violet */
}

.system-failure {
    background-color: #f44336; /* Red */
}

.times-detected-label {
    background-color: #007bff;
    color: #ffffff;
    padding: 4px 10px;
    border-radius: 50%;
}

.search-crash {
    margin: 5px;
    border-radius: 12px;
}

