/* FIXME
 *
 * "row" selector is valid and supported in GTK>=3.20 (Fedora 24).
 * "GtkListBoxRow" selector is no longer supported but required
 * for GTK<3.20 (Fedora 23). It can be removed if we decide to stop
 * supporting older systems.
 */

GtkListBoxRow, row {
    padding: 12px;
    margin: 5px;
    border-radius: 12px;
}

.app-name-label {
    font-weight: bold;
}

.oops-reason {
    font-size: 190%;
    font-weight: bold;
}

.tbtn_multi_select-color {
    background-color: blue;
}

.type-box {
    background-color: #ff0000;
    color: #ffffff;
    padding: 4px 12px;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.times-detected-label {
    background-color: #007bff;
    color: #ffffff;
    padding: 4px 10px;
    border-radius: 50%;
}

.search-crash {
    margin: 5px;
    border-radius: 12px;
}