.app-name-label {
    font-weight: bold;
}

.oops-reason {
    font-size: 190%;
    font-weight: bold;
}

.crash-info-box {
    background-color: #ff9800;
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 16px;
  }

.application-crash {
    background-color: #ff9800;
}

.system-crash {
    background-color: #8e24aa;
}

.system-failure {
    background-color: #f44336;
}

.times-detected-label {
    background-color: #007bff;
    color: #ffffff;
    margin-top: 3px;
    padding: 0px 5px;
    border-radius: 50%;
    font-size: 10px;
}
